@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.btn {
  @apply px-4 py-2 font-bold text-blue-200 bg-blue-50 hover:bg-blue-800;
}

.mainColor
{
  @apply text-blue-800;
}
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/amiri/v4/0Qw2b1c7a8k5d3f6e4g5h6i7j8k9l0m1.woff2') format('woff2');
}
